POSTGRES_DB=hospital_cms
POSTGRES_USER=hospital
POSTGRES_PASSWORD=hospital_pass
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
BACKEND_PORT=8000
FRONTEND_PORT=3000
BOT_PORT=8080
